.container {
   height:100vh;
   width:100vw;
   margin:-8px;
}
.top-h {
    background: #84a8e3;
    height: 6%;
    display: flex;
    justify-content: space-between;
}
.top-h-left {
    background:;
    width:50%;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.top-h-right {
    background: ;
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right:5px;
}
.top-h-right a{
    color:white;
    text-decoration-line:none;
    font-size:15px;
}
    .show-h {
        background: yellow;
        height: 94%;
    }
.show-menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items:;
}
.show-menu-button {
    background-color: transparent;
    border: none;  
}
.drop {
    border-top: 5px solid black;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.index-header {
    background:url("https://p.w3layouts.com/demos/17-02-2016/resale/web/images/banner.jpg")
    no-repeat;
    background-size:100vw;
   height:60%;
}
.index-header-wrapper {
    background-color: rgb(0,0,0,0.6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-header-data {
    color:white;
    height: 50%;
    width:100%;
    display: flex;
    flex-direction:column;
     gap:7%;
    align-items: center;
    justify-content: center;
}
.Read-b {
    color: white;
    background-color: #f3c500;
    border:none;
    height:20%;
    width:10%;
}
